<html>
	<head>
	<title>Error 404 Page not found!</title>
	<style>
		.main-color {
			color: #ffcc00;
		}
		* {
			font-family: calibri, helevetica, verdana, "times new roman";
		}
		.wrapper {
			position: relative;
			height: 99%;
			
		}
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		.text-right {
			text-align: right;
		}
	</style>
	</head>
	<body>
	<div class="wrapper">
		<h1>Page Not Found!</h1>
		<p>Requested URL can not be found.</p>
		<p>If you sure your URL is correct, please try again later.</p>
		<div class="footer text-right">
			<small><a href='http://www.freepik.com/free-vector/smileys-faces-of-girl-pack_833013.htm'>Designed by Freepik</a></small>
		</div>
	</div>
	</body>
</html>